{% extends "blockchain/base.html" %}
{% load crispy_forms_tags %}
{% block content%}


<!--BLOCK FORM-->
    <div class="content-section">
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Block</legend>
                {{ form|crispy }}
            </fieldset>
            <div    class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Create
                </button>
            </div>
        </form>
    </div>
<!--END OF BLOCK FORM-->


{% endblock content %}
