{% extends "blockchain/base.html" %}


{% block content%}


<h1 class="mb-3">Blocks by {{ view.kwargs.username }}</h1>
    {% for block in blocks %}
    <article class="media content-section">
     <img class="rounded-circle article-img" src="{{ block.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-blocks' block.author.username %}">{{ block.author }}</a>

                <!--Django Date Filters: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date-->
                <small class="text-muted">{{ block.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'block-detail' block.id %}">{{ block.title }}</a></h2>
            <!--<p class="article-content">{{ block.content }}</p>-->
        </div>
    </article>
    {% endfor %}


<!--PAGINATOR OF THE PAGE-->


    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif%}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif%}
        {% endfor%}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_pate_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif%}

    {% endif %}


 <!--END OF PAGINATOR-->


{% endblock content %}
