{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">
    <link href="{% static 'blockchain/home.css' %}" rel="stylesheet" type="text/css">


    <!--TITLE CONTENT-->
    {% if title %}
    <title> Blockchain | {{ title }}</title>
    {% else %}
    <title>Blockchain </title>
    {% endif %}
    <!--END OF TITLE CONTENT-->


</head>

<body>


<!--NAVIGATION BLOCK-->
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark nav-color fixed-top" style="background-color: #413D3A;">
        <div class="container">
            <a class="navbar-brand mr-2" href="/"><i class="fas fa-code"></i> Server Blockchain</a>

            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarToggle" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">

                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' %}" id="navbarAcount"><i class="fas fa-user-circle icons"></i></a>

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarProfile" role="button">Profile</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>

                    <a class="nav-item nav-link" href="{% url 'blockchain-blocks' %}">Blocks</a>
                    <a class="nav-item nav-link" href="{% url 'blockchain-transactions' %}">Transactions</a>
                    <a class="nav-item nav-link" href="{% url 'blockchain-inputs' %}">Inputs</a>
                    <a class="nav-item nav-link" href="{% url 'blockchain-outputs' %}">Outputs</a>
                    <a class="nav-item nav-link" href="{% url 'blockchain-about' %}">About</a>


                    {% else %}
                    <a class="nav-item nav-link mr-1" href="{% url 'login' %}"><i class="fab fa-bitcoin mr-1"></i>Login</a>
                    <a class="nav-item nav-link mr-1" href="{% url 'register' %}"> <i
                            class="fas fa-address-card mr-1"></i>Register</a>
                    {% endif %}


                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <div class="container">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input class="search_input" name="" placeholder="Search..." type="text">
                                <a class="search_icon" href="#"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse">
                        <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-cogs icons"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>
<!--END OF NAVIGATION BLOCK-->


<!--RIDHT SIDE BLOCK-->
<main class="container" role="main">
    <!--<div class="row">-->
    <!--<div class="col-md-8">-->

    {% block content %}

    {% endblock %}

    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div class="content-section">-->
    <!--<h3>Our Sidebar</h3>-->
    <!--<p class='text-muted'>I will put any information here I'd like.-->
    <!--<ul class="list-group">-->
    <!--<li class="list-group-item list-group-item-light">Latest Transactions</li>-->
    <!--<li class="list-group-item list-group-item-light">Announcements</li>-->
    <!--<li class="list-group-item list-group-item-light">Wallet</li>-->
    <!--<li class="list-group-item list-group-item-light">etc</li>-->
    <!--</ul>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</main>
<!--END OF RIGHT SIDE BLOCK-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>