body {
  height: 100%;
  background: #FAF8F5;
  color: #333333;
  margin-top: 5rem;
}

.navbar {
    background-color: #413D3A;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

#hash_id{
    display:inline-block;
    width:120px;
    overflow:scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table td, .table th{
    padding-bottom: 0;
    padding-top: 0;
    font-family:Courier New;
    font-size: 14px;
    width: 20%;
    text-align: left;
}

.title_bk_tx{
    font-family:Courier New;
    font-size: 20px;
    color:black;
    margin-top: 0;
    margin-bottom: 0;
}

.table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background-color: transparent;
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 100%;
    }
    #hash_id{
        width:750px;
    }
}

@media screen and (min-width: 960px){
    .container{
        max-width: 100%;
    }
}


@media screen and (max-width: 992px) {
    .container{
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .container{
        max-width: 100%;
    }
}

#navbarProfile {
  padding-left: .2rem;
}

#navbarAcount {
  padding-right: .2rem;
  padding-left: 2rem;
}

@font-face { font-family: Augustus; src: url('Agustus.ttf'); }

#titleLogo{
     font-family: Augustus, sans-serif;
}

.col-md-9{
    padding-top:5%;
    font-family: Augustus, sans-serif;
}

.dropdown-item {

    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

}

.icon_logo{
    font-size: 1.20em;
    color: #82b74b;
}

.icons{
    font-size: 1.30em;
}

.bg-steel {
  background-color: #292F33;
}

.site-header .navbar-nav .nav-link {
  color: #d9d9d9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.dropdown-menu {
  background-color: #292F33;
 }

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: #fafafa;
  border-radius: 32px;
  padding: 5px;
}

.search_input{
  color: fafafa;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 20px;
  transition: width 0.2s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:#3e4444;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: #cccccc;
  color: #3e4444;
}

.search_icon{
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #3e4444;
}
