{% extends "blockchain/base.html" %}
{% block content%}


 <!--TRANSACTION CONFIRM DELETE SECTION-->
    <div class="content-section">
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Transaction</legend>
                <h2>Are you sure you want to delete the block "{{ object.title }}" ? </h2>
            </fieldset>
            <div    class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'blockchain-transaction-details' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
 <!--END OF THE TRANSACTION CONFIRM DELETE SECTION-->


{% endblock content %}