{% extends "blockchain/base.html" %}
{% block content%}


<!--TRANSACTION DETAILS-->
<article class="media content-section">
     <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-transactions' object.author.username %}">{{ object.author }}</a>

            <!--Django Date Filters: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date-->
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            <div>
                {% if object.author == user %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blockchain-transaction-delete' object.id %}">Delete</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blockchain-transaction-update' object.id %}">Update</a>
                {% endif %}
            </div>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.block_index }}</p>
    </div>
</article>
<!--END OF TRANSACTION DETAILS-->


{% endblock content %}