@import "_config.scss";

// footer

.page-footer {
  font-family: $generic-family;
  font-size: 13px;
  width: 100%;
  height: 50px;
  color: $darkGrey;
  background-color: $pageBackground;
  text-align: center;

  a {
    color: $darkGrey;
    text-decoration: none !important;
  }
}

//navigation

.navbar {
  background: $lightBraun;
}

.nav-item {
  margin-left: 25px;
  font-family: $generic-family;
  font-size: 100%;
  font-weight: 500;
}

.navbar-dark .navbar-brand {
  font-family: $generic-family;
}

// header menu

.header_components_container {
  min-width: 100%;
  background: $darkBraun;
  color: $white;
}

.page_label_container {
  min-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  border-bottom: 1px solid $lightGrey;
  background-color: white;

  .col_title {
    font-family: $generic-family;
    font-size: 25px;
    padding-top: 14px;
    color: $grey;
  }

  .label_title {
    font-family: Lucida Console,Monospace;
    font-size: 20px;
    padding-top: 60px;
    color: #6c6866;
    text-transform: uppercase;
    text-align: center;
  }

  .col_back {
    padding-right: 30px;
    padding-left: 30px;
  }

  a {
    color: $darkGrey;
    text-decoration: none;
    background-color: $input-color;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.label_content {
  margin-bottom: 40px;
}

// scrollButton

.scroll {
  opacity: 1;
  background-color: $input-color;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

// details

.page_details {
  mix-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  border-bottom: 1px solid $lightGrey;
  background-color: $pageBackground;

  .upper_row {
    padding-top: 15px;
    padding-left: 10px;
    font-family: $generic-family;
    text-transform: uppercase;
    font-size: 14px;
    color: $grey;
    margin: 0px;

    .transactions {
      width: 180px;
    }
  }

  a {
    color: $darkGrey;
    text-decoration: none;
  }

  .unhash {
    display: none !important;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (max-width: 1200px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Extra large devices (large laptops and desktops, 1400px and up) */
  @media screen and (max-width: 1584px) {
    .hash {
      display: none !important;
    }

    .unhash {
      display: inline !important;
      margin-left: 30px;
    }

  }

  button {
    color: $grey;
    font-size: 1em;
    padding: 0em 1em;
    border: 2px solid $grey;
    border-radius: 5px;
    font-family: $generic-family;
    text-transform: uppercase;
  }
}

.page_content_container {
  mix-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  border-bottom: 1px solid $lightGrey;
  background-color: $pageBackground;

  .upper_row {
    padding-top: 20px;
    padding-left: 10px;
    font-family: $generic-family;
    text-transform: uppercase;
    font-size: 14px;
    color: $grey;
    margin: 0px;

    .transactions {
      width: 180px;
    }

  }

  .lower_row_info {
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: $generic-family;
    font-size: 16px;
    color: $black;
    margin: 0px;
  }

  .lower_row {
    font-size: 18px;
    color: black;
    font-family: $generic-family;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 0px;
    .st {
      overflow-x: auto;
    }

  }


  a {
    color: $darkGrey;
    text-decoration: none;
  }


  .unhash {
    display: none !important;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 14px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 14px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 14px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 14px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (max-width: 1200px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 14px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
    }

  }

  /* Extra large devices (large laptops and desktops, 1400px and up) */
  @media screen and (max-width: 1584px) {
    .hash {
      display: none !important;
    }

    .lower_row {
      font-size: 15px !important;
    }

    .received_time {
      display: none !important;
    }

    .unhash {
      display: inline !important;
      margin: 15px;
      margin-left: 30px;
    }

  }

  button {
    color: $grey;
    font-size: 1em;
    padding: 0em 1em;
    border: 2px solid $grey;
    border-radius: 5px;
    font-family: $generic-family;
    text-transform: uppercase;
  }
}


.header_components_upper_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-right: 1px;
  font-family: $generic-family;
  font-size: 18px;
  color: $white;
}

.header_components_lower_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-right: 1px;
  font-family: $generic-family;
  font-size: 16px;
  color: $white;
}

.header_components_col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 215px;
  min-width: 150px;
  border: 1px solid $lightBraun;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

ul.pagination li.page-item.active a.page-link {
  color: $pageItemColor !important;
  background-color: $pageItemBackground !important;
  border-color: $pageBorder !important;
}

ul.pagination a.page-link {
  padding: 0.30rem 0.40rem;
  min-width: 4rem;
  text-align: center;
  box-shadow: none !important;
  border-color: $paginationBorder !important;
  color: $grey;
  font-weight: 900;
  font-size: 14px;
}

ul.pagination a.page-link:hover {
  background-color: $pageBackground;
}

.form-inline {
  border: 1px solid $darkBraun;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 2px;
  border-radius: 10px 10px 10px 10px;
}

.input-wrapper {
  position: relative;
  width: 300px;
  margin: 0px auto;
}

.input-highlight {
  font-size: $input-font-size;
  user-select: none;
  line-height: $input-line-height;
  border-top: 3px solid $white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: $font-family;
}

input {
  height: 36px;
  width: 100%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  line-height: $input-line-height;
  background-color: transparent;
  color: white;
  font-size: $input-font-size;
  border: none;
  outline: none;
  border-bottom: 3px solid $darkBraun;
  font-family: $font-family;

  &:focus {
    + .input-highlight {
      border-top: 3px solid $input-color;
    }
  }
}

// about

.about {
  max-width: 80%;
  font-family: $generic-family;

  h3{
    text-decoration: underline;
    size: 30px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 6%;
    margin-bottom: 0px;
  }

  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0px;
  }

  .text {
    text-align: left;
    size: 24px;
  }

  p {
    text-align: justify;
    text-indent: 30px;
  }
}
